$blue85:rgba(0, 255, 254, .85);
$blue65:rgba(0, 255, 254, .65);
$pink85:rgba(255, 23, 245, .85);
$pink65:rgba(255, 23, 245, .65);
$yellow85:rgba(255, 253, 86, .85);
$yellow65:rgba(255, 253, 86, .85);
$white85:rgba(255,255,255,.85);
$white65:rgba(255,255,255,.65);


body {
    background-color: #000;
    background-image: linear-gradient(90deg,rgba(214,47,47,.11) 20%,#000 80%);
  }
svg{
  display: none;
}
.intro__logotype {
        /* -webkit-animation:c 2s infinite steps(2) alternate-reverse; */animation:c 2s infinite steps(2) alternate-reverse;
    }
.intro__logotype {
    color: #ff0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
  }
.logotype {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    bottom: 5%;
        // left: -10%;
}


/*#here is all keyframes*/

.page-header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:after {
    animation: grain 1s steps(10) infinite;
    background-image: url("https://thumbs.dreamstime.com/b/still-dark-black-paper-texture-background-clearly-detailed-natural-grain-noise-texture-effect-still-dark-black-paper-texture-115317202.jpg");
    content: "";
    height: 300%;
    // left: -50%; */
      opacity: 0.22;
      position: fixed;
      top: -110%;
      width: 150%;
  }
}

@keyframes grain {
  0%,100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, -15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}
@-webkit-keyframes c {
    0% {
        text-shadow: (0 0 $pink85);
        -webkit-transform: translate(0) skewX(1deg);
        transform: translate(0) skewX(1deg);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);
        filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);
    }

    5% {
        text-shadow: 4px 1px $blue85;
        -webkit-transform: translate(2px);
        transform: translate(2px);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(-2px 0 $pink65);
        filter: brightness(100%) hue-rotate(0) drop-shadow(-2px 0 $pink65);
    }

    10% {
        text-shadow: -2px -3px $blue85;
        -webkit-transform: translate(1px,2px);
        transform: translate(1px,2px);
        -webkit-filter: brightness(80%) hue-rotate(90deg) drop-shadow(4px 2px $pink65);
        filter: brightness(80%) hue-rotate(90deg) drop-shadow(4px 2px $pink65)
    }

    15% {
        text-shadow: 3px 1px $white85;
        -webkit-transform: translate(-2px) skewX(2deg);
        transform: translate(-2px) skewX(2deg);
        -webkit-filter: brightness(80%) hue-rotate(90deg) drop-shadow(0 -2px $pink65);
        filter: brightness(80%) hue-rotate(90deg) drop-shadow(0 -2px $pink65)
    }

    20% {
        text-shadow: 0 0 $pink85;
        -webkit-transform: translate(-1px) skewX(-1deg);
        transform: translate(-1px) skewX(-1deg);
        -webkit-filter: brightness(100%) hue-rotate(180deg) drop-shadow(0 -1px $blue65);
        filter: brightness(100%) hue-rotate(180deg) drop-shadow(0 -1px $blue65)
    }

    25% {
        text-shadow: 4px 0 $white85;
        -webkit-transform: translateY(-4px) scale(.99);
        transform: translateY(-4px) scale(.99);
        -webkit-filter: brightness(120%) hue-rotate(120deg) drop-shadow(3px 0 $yellow65);
        filter: brightness(120%) hue-rotate(120deg) drop-shadow(3px 0 $yellow65)
    }

    30% {
        text-shadow: -2px 4px $pink85;
        -webkit-transform: translate(1px);
        transform: translate(1px);
        -webkit-filter: brightness(100%) hue-rotate(160deg) drop-shadow(-1px 1px $blue65);
        filter: brightness(100%) hue-rotate(160deg) drop-shadow(-1px 1px $blue65)
    }

    35% {
        text-shadow: 3px 0 $white85;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
        -webkit-filter: brightness(100%) hue-rotate(20deg) drop-shadow(0 -5px $blue65);
        filter: brightness(100%) hue-rotate(20deg) drop-shadow(0 -5px $blue65)
    }

    40% {
        text-shadow: 0 0 $pink85;
        -webkit-transform: translate(2px);
        transform: translate(2px);
        -webkit-filter: brightness(120%) hue-rotate(0) drop-shadow(-3px 0 rgba(255,0,255,.65));
        filter: brightness(120%) hue-rotate(0) drop-shadow(-3px 0 rgba(255,0,255,.65))
    }

    45% {
        text-shadow: -4px 2px $white85;
        -webkit-transform: translate(-1px);
        transform: translate(-1px);
        -webkit-filter: brightness(100%) hue-rotate(-20deg) drop-shadow(0 0 rgba(255,0,255,.65));
        filter: brightness(100%) hue-rotate(-20deg) drop-shadow(0 0 rgba(255,0,255,.65))
    }

    50% {
        text-shadow: 2px 0 $white85;
        -webkit-transform: translate(0) skewX(1deg);
        transform: translate(0) skewX(1deg);
        -webkit-filter: brightness(100%) hue-rotate(20deg) drop-shadow(0 -1px $pink65);
        filter: brightness(100%) hue-rotate(20deg) drop-shadow(0 -1px $pink65)
    }

    55% {
        text-shadow: 0 1px $white85;
        -webkit-transform: translate(2px) skewX(-1deg);
        transform: translate(2px) skewX(-1deg);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(2px 0 $pink65);
        filter: brightness(100%) hue-rotate(0) drop-shadow(2px 0 $pink65)
    }

    60% {
        text-shadow: 0 0 $pink85;
        -webkit-transform: translate(-1px);
        transform: translate(-1px);
        -webkit-filter: brightness(80%) hue-rotate(-20deg) drop-shadow(-2px 0 $yellow65);
        filter: brightness(80%) hue-rotate(-20deg) drop-shadow(-2px 0 $yellow65)
    }

    65% {
        text-shadow: -4px 0 $blue85;//purple
        -webkit-transform: translate(1px,1px);
        transform: translate(1px,1px);
        -webkit-filter: brightness(100%) hue-rotate(400deg) drop-shadow(2px -5px $yellow65);
        filter: brightness(100%) hue-rotate(400deg) drop-shadow(2px -5px $yellow65)
    }

    70% {
        text-shadow: 0 -2px $pink85;//red
        -webkit-transform: translate(0) skewX(1deg);
        transform: translate(0) skewX(1deg);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);//red
        filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);//red
    }

    75% {
        text-shadow: -1px 1px $white85;
        -webkit-transform: translate(-2px) skewX(-1deg);
        transform: translate(-2px) skewX(-1deg);
        -webkit-filter: brightness(80%) hue-rotate(20deg) drop-shadow(1px 0 $pink65);//red
        filter: brightness(80%) hue-rotate(20deg) drop-shadow(1px 0 $pink65);
        color:white;
    }

    80% {
        text-shadow: 0 3px $pink85;//red
        -webkit-transform: translate(1px);
        transform: translate(1px);
        -webkit-filter: brightness(120%) hue-rotate(0) drop-shadow(-2px 0 $blue65); //blue
        filter: brightness(120%) hue-rotate(0) drop-shadow(-2px 0 $blue65);//blue
    }

    85% {
        text-shadow: (2px -2px $blue85);//blue
        -webkit-transform: translate(4px,-1px);
        transform: translate(4px,-1px);
        -webkit-filter: brightness(100%) hue-rotate(-40deg) drop-shadow(0 1px $yellow65);//yellow
        filter: brightness(100%) hue-rotate(-40deg) drop-shadow(0 1px $yellow65);//yellow
    }

    90% {
        text-shadow: 0 -2px $white85;
        -webkit-transform: translate(0) scale(.99);
        transform: translate(0) scale(.99);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(5px 0 rgba(255,0,255,.65));
        filter: brightness(100%) hue-rotate(0) drop-shadow(5px 0 rgba(255,0,255,.65))
    }

    95% {
        text-shadow: 0 0 $pink85;
        -webkit-transform: translate(-1px);
        transform: translate(-1px);
        -webkit-filter: brightness(90%) hue-rotate(20deg) drop-shadow(-1px 1px rgba(255,0,255,.65));
        filter: brightness(90%) hue-rotate(20deg) drop-shadow(-1px 1px rgba(255,0,255,.65))
    }

    to {
        text-shadow: 0 0 $pink85;
        -webkit-transform: translate(0);
        transform: translate(0);
        -webkit-filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);
        filter: brightness(100%) hue-rotate(0) drop-shadow(0 0 $pink65);
    }
}
@media only screen and (max-width: 425px) {
  body {
    background-image: linear-gradient(to right, #750b0b1c 5%, black 95%);
}

  .page-header {


    &:after {

      // left: -50%; */
        opacity: 0.12;

    }
  }
}
